@CHARSET "UTF-8";

    s{
    color : yellow;
    }

    b{
        font-weight: bold;
    }

    .contenttest{
        margin: 0 auto;
        height: 600px;
        width: 500px;
        margin-top : 50px;
        border-left : 1px solid black;
        border-right: 1px solid black;
        border-top : 1px solid black;
        border-bottom: 1px solid black;
        border-radius: 4px;
        font-family: 'Hind Madurai', sans-serif;
        }

        .contentbackup{
            margin: 0 auto;
            height: 600px;
            width: 500px;
            margin-top : 50px;
            border-radius: 4px;
            border: 1px solid #D8D8D8;
            font-family: 'Hind Madurai', sans-serif;
            }

        .content{
            margin: 0 auto;
            height: 600px;
            width: 500px;
            margin-top : 50px;
            border-radius: 4px;
            border: 1px solid #D8D8D8;
            font-family: 'Hind Madurai', sans-serif;
            }

    #userImg{
        border-radius: 100px;
        width: 50px;
        height: 50px;
        border : 2px solid red;
        margin: 10px;
        float: left;
    }

    .user{
        font-size : 20px;
        margin: 15px;
        float: left;
    }

    #userPhoto{
        width:100%;
    }

    #likeIcon{
        margin: 10px;
        width:5%;
    }

    .like{
        margin-left : 10px;
    }

    #comment{
         margin: 10px;
         width:4.5%;
    }

    .user2{
        font-size : 15px;
        margin-left: 10px;

    }
    .user3{
            float: left;
            font-weight: bold;
    }

    .userContent{
        font-weight: lighter;
    }

    .userContent2{
         margin: 5px;
    }

    .commentCount{
         margin-left: 10px;
         color:slategray;
    }

    .comment2{
        width: 99%;
        margin: 20px;
        float: left;
     }

    #commentin{
        border: none;
        width: 80%;
        height: 30px;
        font-size: 15px;
        margin-left: 10px;
    }

    #commentin::-webkit-input-placeholder {
        font-size : 12px;
        float:
    }

    .appBarw {
      background-color: #ffffff;
      border-bottom: 1px solid #ebebeb;
    }

    .appBar {
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      height: 80px;
      margin: auto;
      align-items: center;
    }

    .instagram-logo {
      width: 180px;
      height: 50px;
    }

    #logo {
      margin-left : 0px;
      width: 50px;
      height: 10px;
    }

    .appBarMenuDiv {
      width: 360px;
    }

    .menuIcon {
      display: inline-block;
      justify-content: space-between;
    }

    .fas.fa-home {
      font-size: 22px;
    }

    i.far {
      font-size: 22px;
    }

    .appBarMenu {
      float: right;
      width: 222px;
      height: 22px;
      padding-left: 24px;
      justify-content: space-between;
      display: flex;
    }

    .inputText > input::placeholder {
      text-align: center;
      font-weight: 510;
    }

    .search {
      outline: none;
      width: 199px;
      height: 12px;
      padding: 7px;
      border: 1px solid #dbdbdb;
      border-radius: 3px;
      float: left;
      background-color: #fafafa;
    }